.main-chat
  .header
    .header__left
      %h2.header__left__group
        = @group.name
      %ul.header__left__number
        number :
        %li.header__left__number--list
          - @group.users.each do |user|
            = user.name
    .header__right
      = link_to edit_group_path(@group.id) do
        .header__right__btn
          Edit

  .body
    = render @messages
  .from
    = form_for [@group, @message] do |f|
      .new-message
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        = f.label :image, class: 'input-box__img' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'input-btn'

        
