.side-bar
  .side-bar__header
    .side-bar__header--box
      %p.side-bar__header__box--name
        = current_user.name
      %ul.side-bar__header__box--icon
        %li.list
          = link_to do
            = icon('fas', 'pen-square', class: 'icon')
        %li.list
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')
  .side-bar__footer
    .side-bar__footer__group
      .side-bar__footer__group__name
        %p TechCamp
      .side-bar__footer__group__list
        %p まだメッセージがありません 
